body{
    justify-content: center;
    align-items: center;

  }
  table{
    width:80%;
 
    border: 1px solid black;
    font-size: x-large;
        margin-top: 4%;
    margin-left: 10%;
    }
    td,th{
      border: 1px solid black;
    }
               tr{
      background-color: #ffd5cdb5;
           }
    tr:hover {
      background-color: #ff6347b5;
    }
  .smallcolmn{
    width: 49%;
    height: 76px;
  }
  .thatcolor{
    height: 76px;
    background-color: #FF6347;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
   }
  .btn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida  Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    width: 130px;
    height: 40px ;
    background-color: #FF6347;
    border: none;
 }
.ajout{
  margin: 2% 0 4% 74%;

}
.ajoutinput{
  height: 95% ;
  width: 99% ;
  
}
.td1{
  height: 76px;
}
.edit{
  margin: 2% 0 4% 85%;

}
.abtn{
  color: black;
  text-decoration: none;
  border-radius: 8px;

  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 1px 10px 1px 10px ;
  margin-left:10%;
  border: black 2px solid;
}
.in{
  border-radius: 8px;
  border: black 2px solid;
  height: 20px;
}